<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>CS Pathfinder</title>
  </head>
  <body>
    <header class="header"><h1>Choose a path</h1></header>
    <div class="paths-container">
      <div class="paths paths-container">
        <a href="/frontend"> Frontend development</a>
        <a href="/backend">Backend development</a>
        <a href="/fullstack">Fullstack development</a>
        <a href="/mobile">Mobile development</a>
        <a href="/data">Data Science</a>
        <a href="/ai">Artificial Intelligence</a>
        <a href="/cyber">Cybersecurity</a>
        <a href="/game">Game Development</a>
        <a href="/devops">DevOps</a>
        <a href="/network">Network Security</a>
        <a href="/iot">Internet of Things</a>
      </div>
      <div></div>
    </div>
  </body>
</html>
